#body.communities {
  background: #e5e5e5 !important;
  -webkit-font-smoothing: antialiased;
  font: normal 13px Roboto,arial,sans-serif;
  color: #404040;


  .rubix-panel-container {
    border: 1px solid #d8d8d8;
  }

  .rubix-panel-controls {
    border: 1px solid #d8d8d8;
    border-bottom: none;
    >button {
      top: -5px;
    }
  }
  .rubix-panel-footer {
    margin-top: 0;
    border-top: 1px solid #d8d8d8;
  }

}
html.communities body .sidebar-nav > li.active:after {
  display: none !important;
}

.mycommunity {
  height:80px;
  padding: 0 0;
  .mycommunity-content {
    padding-top: 15px;
    div {
      margin-top: 5px;
    }
  }
}

.othercommunity {
  .othercommunity-content {
    margin-top: 20px;
    margin-bottom: 15px;
    div {
      margin-bottom: 8px;
    }
    .othercommunity-title {
      font: 300 20px Roboto,arial,sans-serif;
    }
    .othercommunity-detail {
      color: #aaa;
    }
  }
}